# ETL

In [1]:
import pandas as pd
import numpy as np
import ast

In [2]:
#movies = pd.read_csv("data/movies_dataset.csv")
#credits = pd.read_csv("data/credits.csv")
#movies["popularity"] = movies["popularity"].astype(str)
#movies.to_parquet("parquet_data/movies_parquet.parquet")
#credits.to_parquet("parquet_data/credits_parquet.parquet")

In [2]:
movies_parquet = pd.read_parquet("parquet_data/movies_parquet.parquet")

In [3]:
movies_parquet.loc[711]

adult                                                                False
belongs_to_collection                                                 None
budget                                                                   0
genres                                                                  []
homepage                                                              None
id                                                                  365371
imdb_id                                                          tt0114894
original_language                                                       en
original_title                        War Stories Our Mother Never Told Us
overview                 Seven New Zealand women speak about their live...
popularity                                                        0.005625
poster_path                                                           None
production_companies                                                    []
production_countries                                                    []
release_date                                                          None
revenue                                                                0.0
runtime                                                               95.0
spoken_languages                                                        []
status                                                            Released
tagline                                                               None
title                                 War Stories Our Mother Never Told Us
video                                                                  0.0
vote_average                                                           0.0
vote_count                                                             0.0
Name: 711, dtype: object

In [4]:
movies_parquet.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,None,Toy Story,0.0,7.7,5415.0
1,False,None,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",None,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,0.0,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",None,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,0.0,6.5,92.0
3,False,None,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",None,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,0.0,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",None,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,0.0,5.7,173.0

In [5]:
movies_df = movies_parquet.copy()

### Exploring movies data frame.

* Null Values
* Data Types (Its homogeneity)

In [6]:
# Null values
movies_df.isna().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   0
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

In [7]:
# Data Types
movies_df.dtypes

adult                     object
belongs_to_collection     object
budget                    object
genres                    object
homepage                  object
id                        object
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity                object
poster_path               object
production_companies      object
production_countries      object
release_date              object
revenue                  float64
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
title                     object
video                    float64
vote_average             float64
vote_count               float64
dtype: object

### Dropping Fields
Let's begin with the easiest ones: dropping fields!

In [8]:
movies_df.drop(["video", "imdb_id", "adult", "original_title", "poster_path", "homepage"], axis=1, inplace=True)

In [9]:
movies_df.isnull().sum()

belongs_to_collection    40972
budget                       0
genres                       0
id                           0
original_language           11
overview                   954
popularity                   0
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
vote_average                 6
vote_count                   6
dtype: int64

### Data Types Consistency
Sometimes, there could be some unexpected data in a field, either a string datatype in a numeric field or a numeric dtype in a string field. It is important to check datatype consistency on each field. And the bellow ad-hoc function will help us to do that a bit easier. 

##### What it does? 

Answer: It returns the indexes of intrusive rows in the series, which it'll be used as a mask. That will allow us to: 
 * Have a visualization of the inconsistencies and 
 * The rows position that we would like to impute them.

In [10]:
def dtype_checker(data: pd.DataFrame | pd.Series, column: str, data_type) -> list:
    """
    Returns an array of indexes of rows with a different data type in the specified column.

    Parameters:
        data (pd.DataFrame or pd.Series): The DataFrame or Series to check.
        column (str): The name of the column to check for data type.
        data_type: The expected data type for the values in the column.

    Returns:
        list: An array of indexes of rows where the data type in the specified column is different from the expected data type.
    """

    invalid_dtype_rows = []

    if isinstance(data, pd.DataFrame):
        for row in data[column].items():
            if not isinstance(row[1], data_type):
                invalid_dtype_rows.append(row[0])
    elif isinstance(data, pd.Series):
        for row in data.items():
            if not isinstance(row[1], data_type):
                invalid_dtype_rows.append(row[0])
    else:
        raise ValueError("Invalid input data type. The data must be a pandas DataFrame or Series.")

    return invalid_dtype_rows

It is usefull to get to know what are the default dtype the dataframe is built of. For this, lets check the data type on a single row in the release_date field

In [11]:
type(movies_df["release_date"][0])

str

Once we get to know the dtype the data is readen, we can see the simple output of the function wich is only  the index position of all that rows with different data type from string

In [12]:
# In the column release_date, the first five instrusive rows position are lited.
dtype_checker(movies_df, column="release_date", data_type=str)[:5]

[711, 734, 3460, 3628, 5879]

And the above list will be usefull for slicing data and do what may be more comvinience: 

* impute
* drop
* isolate
* etc..

### Creating release_year field in our data frame

1. Check data consistency:
    * Spot intrusive (null, int, floats, etc) data and then drop those rows.
    * Spot any other row that does not match this pattern "1900-01-01"
2. Cast year to create release_year field:
    * With `pd.Series.dt.year()`. It'll only work once we get consistency format

In [13]:
# Spoting intrusive data
mask_for_date_intrusives = dtype_checker(movies_df, column="release_date", data_type=str)
# Dropping rows with nulls
movies_df.drop(mask_for_date_intrusives, inplace=True)

In [14]:
# And, all that null or numeric field are imputed with this default value.
movies_df.head()

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,None,Toy Story,7.7,5415.0
1,None,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0
3,None,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0

In [15]:
movies_df["release_date"].head()

0    1995-10-30
1    1995-12-15
2    1995-12-22
3    1995-12-22
4    1995-02-10
Name: release_date, dtype: object

But there are also "numbers" in this field, and I named numbers between parentesis because, literally, there could be numbers like "1", "2", "121", etc.. they are recognized from the dtype checker function as string, and we are still going to get issues when casting data as date type. See how we can spot those string numbers by regex expresion.

In [16]:
regex_date = r"^\d{4}-\d{2}-\d{2}$" 
#In this lil line, by adding in the begining this ~ to our array of booleans, we get the opposite from pd.Series.str.contains(any_regex_expression)
movies_df.loc[~movies_df["release_date"].str.contains(regex_date)]

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
19730,0.065736,/ff9qCepilowshEtG2GYWwzt2bs4.jpg,"[{'name': 'Carousel Productions', 'id': 11176}...",1997-08-20,104.0,Released,nan,False,6.0,1,NaN,NaN,None,None,None,None,NaN,NaN
29503,1.931659,/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg,"[{'name': 'Aniplex', 'id': 2883}, {'name': 'Go...",2012-09-29,68.0,Released,nan,False,7.0,12,NaN,NaN,None,None,None,None,NaN,NaN
35587,2.185485,/zaSf5OG7V8X8gqFvly88zDdRm46.jpg,"[{'name': 'Odyssey Media', 'id': 17161}, {'nam...",2014-01-01,82.0,Released,Beware Of Frost Bites,False,4.3,22,NaN,NaN,None,None,None,None,NaN,NaN

In [17]:
movies_df.loc[~movies_df["release_date"].str.contains(regex_date)].index

Index([19730, 29503, 35587], dtype='int64')

In [18]:
# So that lets impute these values as well.
movies_df.drop(movies_df.loc[~movies_df["release_date"].str.contains(regex_date)].index, inplace=True)

In [19]:
# Trying if it works.
pd.to_datetime(movies_df["release_date"]).dt.year

0        1995
1        1995
2        1995
3        1995
4        1995
         ...
45460    1991
45462    2011
45463    2003
45464    1917
45465    2017
Name: release_date, Length: 45376, dtype: int32

In [20]:
# And now, no further issues to cast this column as date type and grab the year only to create our year field.
movies_df['release_year'] = pd.to_datetime(movies_df["release_date"]).dt.year

In [21]:
# lets take a look at the data frame movies
movies_df.head()

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,release_year
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,None,Toy Story,7.7,5415.0,1995
1,None,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,1995
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,1995
3,None,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,1995
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,1995

### Filling null values on "revenue" and "budget"

According to henry's guidance project, We should fill numeric missing data with zeros.

Steps:

    1. Check consistency:
        * Data type
        * Format (Regex)
        * Nulls
    2. Impute and convert

In [22]:
# Revenue field data type
movies_df["revenue"].dtype

dtype('float64')

In [23]:
movies_df["revenue"].isnull().sum()

0

In [24]:
# Check how many rows aren't: float, int, str. Recall that movies_df has 45466 rows so far.
len(dtype_checker(movies_df, column="revenue", data_type=float)), len(dtype_checker(movies_df, column="revenue", data_type=int)), len(dtype_checker(movies_df, column="revenue", data_type=str))

(0, 45376, 45376)

Ok so.. We have 0 values that aren't floats, 45466 aren't integers, 45466 aren't str, thus, all values are float. Good

In [25]:
movies_df["revenue"] / 2

0        186777016.5
1        131398624.5
2                0.0
3         40726078.0
4         38289455.5
            ...
45460            0.0
45462            0.0
45463            0.0
45464            0.0
45465            0.0
Name: revenue, Length: 45376, dtype: float64

In [26]:
# Budget field data type
movies_df["budget"].dtype

dtype('O')

In [27]:
movies_df['budget'].isnull().sum()

0

In [28]:
len(dtype_checker(movies_df, column="budget", data_type=float)), len(dtype_checker(movies_df, column="budget", data_type=int)), len(dtype_checker(movies_df, column="budget", data_type=str))

(45376, 45376, 0)

Ok so.. We have 45466 values that aren't floats, 45466 aren't integers, 0 aren't str, thus, all values are string. Not too good. Let's just try to cast this as float and see what will happen

In [29]:
movies_df["budget"].astype(float)

0        30000000.0
1        65000000.0
2               0.0
3        16000000.0
4               0.0
            ...
45460           0.0
45462           0.0
45463           0.0
45464           0.0
45465           0.0
Name: budget, Length: 45376, dtype: float64

In [30]:
movies_df["budget"] = movies_df["budget"].astype(float)

In [31]:
movies_df["budget"].dtype, movies_df["budget"].isnull().sum()

(dtype('float64'), 0)

### Creating "return_on_investment" (ROI) fiel

This is what is performed.. divide revenue by budget as float, then fill null values with zero.. after filling nulls replace inifinites by zeros.

In [32]:
movies_df["revenue"].div(movies_df["budget"].astype(float)).fillna(0).replace([np.inf, -np.inf], 0)

0        12.451801
1         4.043035
2         0.000000
3         5.090760
4         0.000000
           ...
45460     0.000000
45462     0.000000
45463     0.000000
45464     0.000000
45465     0.000000
Length: 45376, dtype: float64

In [33]:
movies_df["return_on_investment"] = movies_df["revenue"].div(movies_df["budget"].astype(float)).fillna(0).replace([np.inf, -np.inf], 0)

In [34]:
movies_df.head()

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,release_year,return_on_investment
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,None,Toy Story,7.7,5415.0,1995,12.451801
1,None,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,1995,4.043035
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,1995,0.000000
3,None,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,1995,5.090760
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0.0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,1995,0.000000

### Flatting Nested Data

Fields such as belongs_to_collection and genres have relevant data, needed for our API, EDA, and ML model. So lets wrangling and format those fields in order to allow us to query and manipulate as needed.

Lets begin with belongs_to_collection field. It seems that this is a field with few missing values and this is because not all movies belongs to a collection such as James Bon's movies. Also, each row contains a dictionary.

#### The approach

Data Transformation:

        * Explore data in field (dtype)
        * Create a new data frame for bellongs_to_collection
        * Convert data into the original object (dictionary)

In [35]:
movies_df.loc[:,"belongs_to_collection"].dtype

dtype('O')

In [36]:
# Building the new data frame for belongs_to_collection
belongs_to_collections_df = movies_df.loc[movies_df["belongs_to_collection"].isnull() == False, "belongs_to_collection"]
belongs_to_collections_df.shape

(4488,)

Since belongs_to_collection only contains "object" types, we need to convert those pandas' object types into dictionary by `ast.literal_eval()` wich grabs the string and catch it as the data format that seems to be. 

For example: "{'hello': 2}" string --> {'hello': 2} dict. And it will enable all the dictionary methods needed for this data manipulation

In [37]:
# This functionn is only for handling any expected error and impute with default empty list
def safe_literal_eval(x):
    try:
        return ast.literal_eval(x)
    except (ValueError, SyntaxError):
        return {}

In [38]:
belongs_to_collections_df = belongs_to_collections_df.apply(safe_literal_eval)

In [39]:
belongs_to_collections_df.head()[0]

{'id': 10194,
 'name': 'Toy Story Collection',
 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg',
 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}

In [40]:
movies_df.loc[dtype_checker(movies_df, "release_date", str), "release_date"]

Series([], Name: release_date, dtype: object)

In [41]:
dtype_checker(belongs_to_collections_df, None, dict)

[]

In [42]:
belongs_to_collections_df.loc[dtype_checker(belongs_to_collections_df, None, dict)]

Series([], Name: belongs_to_collection, dtype: object)

In [43]:
belongs_to_collections_df.drop(dtype_checker(belongs_to_collections_df, None, dict), inplace=True)

In [44]:
belongs_to_collections_df

0        {'id': 10194, 'name': 'Toy Story Collection', ...
2        {'id': 119050, 'name': 'Grumpy Old Men Collect...
4        {'id': 96871, 'name': 'Father of the Bride Col...
9        {'id': 645, 'name': 'James Bond Collection', '...
12       {'id': 117693, 'name': 'Balto Collection', 'po...
                               ...
45355    {'id': 37261, 'name': 'The Carry On Collection...
45358    {'id': 37261, 'name': 'The Carry On Collection...
45369    {'id': 37261, 'name': 'The Carry On Collection...
45371    {'id': 477208, 'name': 'DC Super Hero Girls Co...
45382    {'id': 200641, 'name': 'Red Lotus Collection',...
Name: belongs_to_collection, Length: 4488, dtype: object

In [45]:
collections_df = pd.DataFrame(belongs_to_collections_df.tolist())

In [46]:
collections_df

,id,name,poster_path,backdrop_path
0,10194,Toy Story Collection,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg
1,119050,Grumpy Old Men Collection,/nLvUdqgPgm3F85NMCii9gVFUcet.jpg,/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg
2,96871,Father of the Bride Collection,/nts4iOmNnq7GNicycMJ9pSAn204.jpg,/7qwE57OVZmMJChBpLEbJEmzUydk.jpg
3,645,James Bond Collection,/HORpg5CSkmeQlAolx3bKMrKgfi.jpg,/6VcVl48kNKvdXOZfJPdarlUGOsk.jpg
4,117693,Balto Collection,/w0ZgH6Lgxt2bQYnf1ss74UvYftm.jpg,/9VM5LiJV0bGb1st1KyHA3cVnO2G.jpg
...,...,...,...,...
4483,37261,The Carry On Collection,/2P0HNrYgKDvirV8RCdT1rBSJdbJ.jpg,/38tF1LJN7ULeZAuAfP7beaPMfcl.jpg
4484,37261,The Carry On Collection,/2P0HNrYgKDvirV8RCdT1rBSJdbJ.jpg,/38tF1LJN7ULeZAuAfP7beaPMfcl.jpg
4485,37261,The Carry On Collection,/2P0HNrYgKDvirV8RCdT1rBSJdbJ.jpg,/38tF1LJN7ULeZAuAfP7beaPMfcl.jpg
4486,477208,DC Super Hero Girls Collection,None,None
4487,200641,Red Lotus Collection,/yf9Eod9ANXyHTzDpAxz9ezgvlL4.jpg,/3fhHbLeO3DqdHvgHg5szs399eBb.jpg

In [47]:
movies_df.head(2)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,release_year,return_on_investment
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,None,Toy Story,7.7,5415.0,1995,12.451801
1,None,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,1995,4.043035

In [48]:
movies_df.drop(["belongs_to_collection"], axis=1, inplace=True)

In [49]:
movies_df.head(2)

,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,release_year,return_on_investment
0,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,None,Toy Story,7.7,5415.0,1995,12.451801
1,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,1995,4.043035

In [50]:
pd.merge(collections_df, movies_df, left_index=True, right_index=True, how="inner").head(2)

,id_x,name,poster_path,backdrop_path,budget,genres,id_y,original_language,overview,popularity,...,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,release_year,return_on_investment
0,10194,Toy Story Collection,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,...,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,None,Toy Story,7.7,5415.0,1995,12.451801
1,119050,Grumpy Old Men Collection,/nLvUdqgPgm3F85NMCii9gVFUcet.jpg,/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,...,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,1995,4.043035

In [51]:
movies_df["genres"].apply(safe_literal_eval)

0        [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1        [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2        [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3        [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                           [{'id': 35, 'name': 'Comedy'}]
                               ...
45460    [{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...
45462                        [{'id': 18, 'name': 'Drama'}]
45463    [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
45464                                                   []
45465                                                   []
Name: genres, Length: 45376, dtype: object

### Flattent genres field

This is going to be a bit more complex since in this case we have a many objects related to one row, and many rows releted to one object.. In other words, a reletion ship many to many. 

#### The Approach:

Normaliza genres:

        * Build a new data frame for genres:
                * Cast any single row in genres as lists
                * Check data consistency and impute
        * Extract information:
                * Explode genres field.
                * Drop duplicates
        * Drop duplicates

Data Transformation for genres field in movies_df:

        * Grab only ids

In [52]:
movies_df.head(2)

,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,release_year,return_on_investment
0,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,None,Toy Story,7.7,5415.0,1995,12.451801
1,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,1995,4.043035

In [53]:
movies_df["genres"][0]

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [54]:
empty_list_pattern = r'^\[\]$'
genre_empy_mask = movies_df["genres"].astype(str).str.match(empty_list_pattern)
print(genre_empy_mask.sum())
movies_df[genre_empy_mask].head(2)

2384

,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,release_year,return_on_investment
55,0.0,[],124057,en,"Set in modern times, Alex finds King Arthur's ...",0.307075,"[{'name': 'Telefilm Canada', 'id': 7320}, {'na...",[],1997-07-08,0.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,None,Kids of the Round Table,3.0,1.0,1997,0.0
83,0.0,[],188588,en,"Filmed entirely on location in East Hampton, L...",0.531159,[],[],1995-11-22,0.0,108.0,[],Released,None,Last Summer in the Hamptons,0.0,0.0,1995,0.0

In [55]:
movies_df.loc[genre_empy_mask, "genres"] = "[{'id': 123456, 'name': 'Unknown'}]"

In [56]:
movies_df.loc[genre_empy_mask, "genres"]

55       [{'id': 123456, 'name': 'Unknown'}]
83       [{'id': 123456, 'name': 'Unknown'}]
126      [{'id': 123456, 'name': 'Unknown'}]
137      [{'id': 123456, 'name': 'Unknown'}]
390      [{'id': 123456, 'name': 'Unknown'}]
                        ...
45447    [{'id': 123456, 'name': 'Unknown'}]
45448    [{'id': 123456, 'name': 'Unknown'}]
45455    [{'id': 123456, 'name': 'Unknown'}]
45464    [{'id': 123456, 'name': 'Unknown'}]
45465    [{'id': 123456, 'name': 'Unknown'}]
Name: genres, Length: 2384, dtype: object

In [57]:
movies_df["genres"] = movies_df["genres"].apply(safe_literal_eval)

In [58]:
movies_df["genres"][0]

[{'id': 16, 'name': 'Animation'},
 {'id': 35, 'name': 'Comedy'},
 {'id': 10751, 'name': 'Family'}]

In [59]:
movies_df.explode('genres', ignore_index=True).head(2)#[["genres"]].rename(columns={"genres": "genres_info"})

,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,release_year,return_on_investment
0,30000000.0,"{'id': 16, 'name': 'Animation'}",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,None,Toy Story,7.7,5415.0,1995,12.451801
1,30000000.0,"{'id': 35, 'name': 'Comedy'}",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,None,Toy Story,7.7,5415.0,1995,12.451801

In [60]:
movies_df.explode('genres', ignore_index=True).tail(2)#[["genres"]].rename(columns={"genres": "genres_info"})

,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,release_year,return_on_investment
93418,0.0,"{'id': 123456, 'name': 'Unknown'}",227506,en,"In a small town live two brothers, one a minis...",0.003503,"[{'name': 'Yermoliev', 'id': 88753}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",1917-10-21,0.0,87.0,[],Released,None,Satan Triumphant,0.0,0.0,1917,0.0
93419,0.0,"{'id': 123456, 'name': 'Unknown'}",461257,en,50 years after decriminalisation of homosexual...,0.163015,[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,None,Queerama,0.0,0.0,2017,0.0

In [61]:
genres_df = movies_df.explode('genres', ignore_index=True)[["genres"]].rename(columns={"genres": "genres_info"})

In [62]:
genres_df

                             genres_info
0        {'id': 16, 'name': 'Animation'}
1           {'id': 35, 'name': 'Comedy'}
2        {'id': 10751, 'name': 'Family'}
3        {'id': 12, 'name': 'Adventure'}
4          {'id': 14, 'name': 'Fantasy'}
...                                  ...
93415       {'id': 28, 'name': 'Action'}
93416        {'id': 18, 'name': 'Drama'}
93417     {'id': 53, 'name': 'Thriller'}
93418  {'id': 123456, 'name': 'Unknown'}
93419  {'id': 123456, 'name': 'Unknown'}

[93420 rows x 1 columns]

In [63]:
genres_df["genre_id"] = genres_df["genres_info"].apply(lambda genre: genre["id"])
genres_df["genre_id"] = genres_df["genre_id"].astype(str)

genres_df["genre_name"] = genres_df["genres_info"].apply(lambda genre: genre["name"])
genres_df.drop(columns="genres_info", inplace=True)
genres_df

      genre_id genre_name
0           16  Animation
1           35     Comedy
2        10751     Family
3           12  Adventure
4           14    Fantasy
...        ...        ...
93415       28     Action
93416       18      Drama
93417       53   Thriller
93418   123456    Unknown
93419   123456    Unknown

[93420 rows x 2 columns]

In [64]:
genres_df.drop_duplicates(subset=["genre_id"], keep="first", inplace=True)

In [65]:
movies_genres_df = movies_df.explode('genres', ignore_index=True)[['id', 'genres']].rename(columns={'genres': 'genre_info'})
movies_genres_df["genre_id"] = movies_genres_df["genre_info"].apply(lambda genre: genre["id"])
movies_genres_df["genre_id"] = movies_genres_df["genre_id"].astype(str)

In [66]:
movies_genres_df.drop(columns="genre_info", inplace=True)

In [67]:
movies_genres_df.merge(movies_df[["id", "title"]], on='id').merge(genres_df, on="genre_id")

           id genre_id                                     title genre_name
0         862       16                                 Toy Story  Animation
1       21032       16                                     Balto  Animation
2       10530       16                                Pocahontas  Animation
3       15789       16                             A Goofy Movie  Animation
4       43475       16                          Gumby: The Movie  Animation
...       ...      ...                                       ...        ...
93577   69560    10770                           Dying to Belong   TV Movie
93578  417320    10770                             Descendants 2   TV Movie
93579  458618    10770  Ivanka Trump- America's Real First Lady?   TV Movie
93580  401687    10770                         Hopeless Romantic   TV Movie
93581   39562    10770                         To Be Fat Like Me   TV Movie

[93582 rows x 4 columns]

In [68]:
movies_df.drop(labels=["genres"], axis=1, inplace=True)

In [69]:
movies_df.columns

Index(['budget', 'id', 'original_language', 'overview', 'popularity',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'vote_average', 'vote_count', 'release_year', 'return_on_investment'],
      dtype='object')

### Production Companies Field

In [70]:
movies_df["production_companies"][3]

"[{'name': 'Twentieth Century Fox Film Corporation', 'id': 306}]"

In [71]:
empty_list_pattern = r'^\[\]$'
print(movies_df["production_companies"].str.match(empty_list_pattern).sum())
production_movies_mask = movies_df["production_companies"].str.match(empty_list_pattern)
production_movies_mask

11796

0        False
1        False
2        False
3        False
4        False
         ...
45460    False
45462    False
45463    False
45464    False
45465     True
Name: production_companies, Length: 45376, dtype: bool

In [72]:
movies_df[production_movies_mask].head(2)

,budget,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,release_year,return_on_investment
50,0.0,117164,en,Detective - turned - bodyguard Cynthia McKay (...,0.595949,[],[],1994-11-22,0.0,93.0,[],Released,She's no angel of mercy.,Guardian Angel,6.3,3.0,1994,0.0
52,0.0,49133,it,"Fiore, an Italian conman, arrives in post Comm...",1.361286,[],"[{'iso_3166_1': 'IT', 'name': 'Italy'}, {'iso_...",1994-01-01,0.0,116.0,"[{'iso_639_1': 'sq', 'name': 'shqip'}, {'iso_6...",Released,None,Lamerica,7.7,11.0,1994,0.0

In [73]:
movies_df.loc[production_movies_mask, "production_companies"] = "[{'name': 'Unknown', 'id': 123456}]"

In [74]:
movies_df.loc[production_movies_mask, "production_companies"]

50       [{'name': 'Unknown', 'id': 123456}]
52       [{'name': 'Unknown', 'id': 123456}]
57       [{'name': 'Unknown', 'id': 123456}]
58       [{'name': 'Unknown', 'id': 123456}]
83       [{'name': 'Unknown', 'id': 123456}]
                        ...
45442    [{'name': 'Unknown', 'id': 123456}]
45452    [{'name': 'Unknown', 'id': 123456}]
45455    [{'name': 'Unknown', 'id': 123456}]
45457    [{'name': 'Unknown', 'id': 123456}]
45465    [{'name': 'Unknown', 'id': 123456}]
Name: production_companies, Length: 11796, dtype: object

In [75]:
movies_df["production_companies"] = movies_df["production_companies"].apply(safe_literal_eval)

In [76]:
production_companies_df = movies_df.explode("production_companies", ignore_index=True)[["production_companies"]].rename(columns={"production_companies": "production_companies_info"})

In [77]:
production_companies_df["company_name"] = production_companies_df["production_companies_info"].apply(lambda prod_company: prod_company["name"])
production_companies_df["company_id"] = production_companies_df["production_companies_info"].apply(lambda prod_company: prod_company["id"])
production_companies_df.drop("production_companies_info", axis=1, inplace=True)

In [78]:
production_companies_df.drop_duplicates(subset=["company_id"], keep="first", inplace=True)

In [79]:
production_companies_df.dtypes

company_name    object
company_id       int64
dtype: object

In [80]:
production_companies_df["company_id"] = production_companies_df["company_id"].astype(str)

In [89]:
production_companies_df.dtypes

company_name    object
company_id      object
dtype: object

DataFrame for the many-to-many relationship

In [81]:
movies_production_companies_df = movies_df.explode("production_companies", ignore_index=True)[["id", "production_companies"]].rename(columns={"production_companies": "production_companies_info"})
movies_production_companies_df["company_id"] = movies_production_companies_df["production_companies_info"].apply(lambda prod_company: prod_company["id"])
movies_production_companies_df.drop("production_companies_info", axis=1, inplace=True)
movies_production_companies_df["company_id"] = movies_production_companies_df["company_id"].astype(str)
movies_production_companies_df.head()

In [99]:
movies_production_companies_df.head(2)

     id company_id
0   862          3
1  8844        559

### Trying it out

In [101]:
company_demo = movies_production_companies_df.merge(movies_df[["id", "title"]], on = "id").merge(production_companies_df, on="company_id")

In [121]:
company_demo.loc[(company_demo["title"].str.contains("The")) & (company_demo["company_name"] == "Pixar Animation Studios")]

,id,company_id,title,company_name
5,9806,3,The Incredibles,Pixar Animation Studios
29,200481,3,The Blue Umbrella,Pixar Animation Studios
39,141423,3,The Legend of Mor'du,Pixar Animation Studios
41,13924,3,The Adventures of AndrÃ© and Wally B.,Pixar Animation Studios
43,105864,3,The Good Dinosaur,Pixar Animation Studios

In [120]:
movies_df.drop("production_companies", axis=1, inplace=True)

### Production Companies Field

For only learning purpuses, the approach to tackle this down will be completely different from normalizing data and building tables. Here the approach is going to be the accesing approach by `.apply()` method and lambda expressions against nested data. This leverage the processecing resources rather than the store recourses because we aren't going to create any additionally dataframe.

How it works?

* First of all, we should take care about missing value, in this case they are represented as empy list and levearing this data is currently in string datatype, it will be easier to spot those empty list with regex patterns and then impute a default value to simply label them as "unknowns"
* Once we get all rows in production_companies field with an a list with at least one dictionary object, we should be able to apply our safe_literal_eval to convert those strings into the appropiate objects
* Then, we could filter information over these nested data (dictionaries in a list) with `.apply()` method wich applies any function on each record. We can use eaither custom funcions (for example, safe_literal_eval is one custom function applied on each record in the production_companies field) or lamba expressions.

In [122]:
movies_df.head(2)

,budget,id,original_language,overview,popularity,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,release_year,return_on_investment
0,30000000.0,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,None,Toy Story,7.7,5415.0,1995,12.451801
1,65000000.0,8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,1995,4.043035

In [131]:
movies_df["production_countries"].head(10)

0    [{'iso_3166_1': 'US', 'name': 'United States o...
1    [{'iso_3166_1': 'US', 'name': 'United States o...
2    [{'iso_3166_1': 'US', 'name': 'United States o...
3    [{'iso_3166_1': 'US', 'name': 'United States o...
4    [{'iso_3166_1': 'US', 'name': 'United States o...
5    [{'iso_3166_1': 'US', 'name': 'United States o...
6    [{'iso_3166_1': 'DE', 'name': 'Germany'}, {'is...
7    [{'iso_3166_1': 'US', 'name': 'United States o...
8    [{'iso_3166_1': 'US', 'name': 'United States o...
9    [{'iso_3166_1': 'GB', 'name': 'United Kingdom'...
Name: production_countries, dtype: object

In [127]:
movies_df["production_countries"].str.match(empty_list_pattern).sum()
production_countries_empties_mask = movies_df["production_countries"].str.match(empty_list_pattern)

In [135]:
movies_df.loc[production_countries_empties_mask, "production_countries"] = "[{'iso_3166_1': 'Unknown', 'name': 'Unknown'}]"

In [136]:
movies_df.loc[production_countries_empties_mask, "production_countries"]

50       [{'iso_3166_1': 'Unknown', 'name': 'Unknown'}]
55       [{'iso_3166_1': 'Unknown', 'name': 'Unknown'}]
83       [{'iso_3166_1': 'Unknown', 'name': 'Unknown'}]
106      [{'iso_3166_1': 'Unknown', 'name': 'Unknown'}]
107      [{'iso_3166_1': 'Unknown', 'name': 'Unknown'}]
                              ...
45432    [{'iso_3166_1': 'Unknown', 'name': 'Unknown'}]
45434    [{'iso_3166_1': 'Unknown', 'name': 'Unknown'}]
45438    [{'iso_3166_1': 'Unknown', 'name': 'Unknown'}]
45455    [{'iso_3166_1': 'Unknown', 'name': 'Unknown'}]
45457    [{'iso_3166_1': 'Unknown', 'name': 'Unknown'}]
Name: production_countries, Length: 6211, dtype: object

In [141]:
movies_df["production_countries"] = movies_df["production_countries"].apply(safe_literal_eval)

In [180]:
movies_df.head(1)

,budget,id,original_language,overview,popularity,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,release_year,return_on_investment
0,30000000.0,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,None,Toy Story,7.7,5415.0,1995,12.451801

In [196]:
movies_df.loc[(movies_df["production_countries"].apply(lambda country: "Mexico" in {item["name"] for item in country}))
              & (movies_df["original_language"] == "en")
              & (movies_df["production_countries"].apply(lambda country_len: len(country_len) > 1))
                , ["original_language", "title", "production_countries"]]

,original_language,title,production_countries
678,en,Solo,"[{'iso_3166_1': 'US', 'name': 'United States o..."
730,en,The Arrival,"[{'iso_3166_1': 'MX', 'name': 'Mexico'}, {'iso..."
1279,en,Amityville II: The Possession,"[{'iso_3166_1': 'IT', 'name': 'Italy'}, {'iso_..."
2124,en,One Man's Hero,"[{'iso_3166_1': 'US', 'name': 'United States o..."
2293,en,Romancing the Stone,"[{'iso_3166_1': 'MX', 'name': 'Mexico'}, {'iso..."
...,...,...,...
40972,en,Western,"[{'iso_3166_1': 'US', 'name': 'United States o..."
42135,en,You're Killing Me Susana,"[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso..."
42460,en,Flight of the Butterflies,"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'..."
44393,en,Jeremiah Tower: The Last Magnificent,"[{'iso_3166_1': 'MX', 'name': 'Mexico'}, {'iso..."
44994,en,Treading Water,"[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso..."

In [212]:
mexican_production_movies = movies_df.loc[(movies_df["production_countries"].apply(lambda country: "Mexico" in {item["name"] for item in country}))
              
              & (movies_df["production_countries"].apply(lambda country_len: len(country_len) == 1))
                , ["id", "original_language", "title", "production_countries"]]

In [213]:
mexican_production_movies

,id,original_language,title,production_countries
261,18183,es,Like Water for Chocolate,"[{'iso_3166_1': 'MX', 'name': 'Mexico'}]"
559,11655,en,Cronos,"[{'iso_3166_1': 'MX', 'name': 'Mexico'}]"
1697,18205,es,Midaq Alley,"[{'iso_3166_1': 'MX', 'name': 'Mexico'}]"
4108,55,es,Amores perros,"[{'iso_3166_1': 'MX', 'name': 'Mexico'}]"
4529,19236,en,Santa Sangre,"[{'iso_3166_1': 'MX', 'name': 'Mexico'}]"
...,...,...,...,...
44526,264389,en,Tropical Carmine,"[{'iso_3166_1': 'MX', 'name': 'Mexico'}]"
44627,387805,es,7:19,"[{'iso_3166_1': 'MX', 'name': 'Mexico'}]"
44734,366860,es,El Violetero,"[{'iso_3166_1': 'MX', 'name': 'Mexico'}]"
45188,346225,es,Bleak Street,"[{'iso_3166_1': 'MX', 'name': 'Mexico'}]"
45317,80284,es,Enlightened blood,"[{'iso_3166_1': 'MX', 'name': 'Mexico'}]"

# Credits DataSet

In [215]:
credits_parquet = pd.read_parquet("parquet_data/credits_parquet.parquet")

In [217]:
sys.getsizeof(credits_parquet) / 1000000

203.294784

In [252]:
credits_parquet.shape

(45476, 3)

In [257]:
ast.literal_eval(credits_parquet["crew"][0])[:2]

[{'credit_id': '52fe4284c3a36847f8024f49',
  'department': 'Directing',
  'gender': 2,
  'id': 7879,
  'job': 'Director',
  'name': 'John Lasseter',
  'profile_path': '/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg'},
 {'credit_id': '52fe4284c3a36847f8024f4f',
  'department': 'Writing',
  'gender': 2,
  'id': 12891,
  'job': 'Screenplay',
  'name': 'Joss Whedon',
  'profile_path': '/dTiVsuaTVTeGmvkhcyJvKp2A5kr.jpg'}]

In [256]:
ast.literal_eval(credits_parquet["cast"][0])[:2]

[{'cast_id': 14,
  'character': 'Woody (voice)',
  'credit_id': '52fe4284c3a36847f8024f95',
  'gender': 2,
  'id': 31,
  'name': 'Tom Hanks',
  'order': 0,
  'profile_path': '/pQFoyx7rp09CJTAb932F2g8Nlho.jpg'},
 {'cast_id': 15,
  'character': 'Buzz Lightyear (voice)',
  'credit_id': '52fe4284c3a36847f8024f99',
  'gender': 2,
  'id': 12898,
  'name': 'Tim Allen',
  'order': 1,
  'profile_path': '/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg'}]

In [229]:
credits_parquet.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [251]:
movies_df.loc[0]

budget                                                         30000000.0
id                                                                    862
original_language                                                      en
overview                Led by Woody, Andy's toys live happily in his ...
popularity                                                      21.946943
production_countries    [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                   1995-10-30
revenue                                                       373554033.0
runtime                                                              81.0
spoken_languages                 [{'iso_639_1': 'en', 'name': 'English'}]
status                                                           Released
tagline                                                              None
title                                                           Toy Story
vote_average                                                          7.7
vote_count                                                         5415.0
release_year                                                         1995
return_on_investment                                            12.451801
Name: 0, dtype: object

In [258]:
!jupyter nbconvert --to script etl.ipynb

[NbConvertApp] Converting notebook etl.ipynb to script
[NbConvertApp] Writing 18230 bytes to etl.py